<button mat-button (click)="showCard()">Add User</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let user"> {{user.name}} </td>
  </ng-container>

  <!-- gender Column -->
  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> Gender </th>
    <td mat-cell *matCellDef="let user"> {{user.gender}} </td>
  </ng-container>

  <!-- email Column -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let user"> {{user.id}} </td>
  </ng-container>

  <!-- status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let user"> {{user.status}}
      <!-- delete user -->
      <button (click)="delete(user.id)" style="color: white; background-color: red; width: 5vw;">
        <mat-icon>delete_sweep</mat-icon>
      </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- card to add new user -->
<mat-card *ngIf="buttonClicked">

  <mat-card-header>
    <mat-icon (click)="hideCard()">clear</mat-icon>
  </mat-card-header>
  <mat-card-content>
    <b>Add User</b>
    <form [formGroup]="form">

      <p>
        <mat-label>Name : </mat-label>
        <input matInput placeholder="Ex. taima" formControlName="name">
      </p>

      <p>
        <mat-label>Email : </mat-label>
        <input matInput placeholder="Ex. taimaalwahsh@gmail.com" formControlName="email">
      </p>

      <p style="display: table-caption;">
        <mat-label>Gender : </mat-label>
        <mat-radio-group aria-label="Select an option" formControlName="gender">
          <mat-radio-button class="example-radio-button" value="female">female</mat-radio-button>
          <mat-radio-button class="example-radio-button" value="male">male</mat-radio-button>
        </mat-radio-group>
      </p>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addUser()" [disabled]="!form.valid"><b>Add user</b></button>
  </mat-card-actions>
</mat-card>


<router-outlet></router-outlet>